doctype html
html(lang="en")
  head
    title MongoDB Movies CRUD

    link(rel="stylesheet", type="text/css", href="assets/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="assets/bootstrap-material-design/dist/css/bootstrap-material-design.min.css")
    link(rel="stylesheet", type="text/css", href="assets/material-design-icons/iconfont/material-icons.css")

    script(type="text/javascript", src="assets/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="assets/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="assets/bootstrap-material-design/dist/js/material.min.js")
    script(type="text/javascript") $.material.init();
    block scripts
  body
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            //button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            span.navbar-brand MongoDB Movies
          //.navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li.active
                a(href="javascript:void(0)") Active
              li
                a(href="javascript:void(0)") Link
              li.dropdown
                a.dropdown-toggle(href="bootstrap-elements.html", data-target="#", data-toggle="dropdown") Dropdown
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="javascript:void(0)") Action
                  li
                    a(href="javascript:void(0)") Another action
                  li
                    a(href="javascript:void(0)") Something else here
                  li.divider
                  li.dropdown-header Dropdown header
                  li
                    a(href="javascript:void(0)") Separated link
                  li
                    a(href="javascript:void(0)") One more separated link
            form.navbar-form.navbar-left
              .form-group
                input.form-control.col-md-8(type="text", placeholder="Search")
            ul.nav.navbar-nav.navbar-right
              li
                a(href="javascript:void(0)") Link
              li.dropdown
                a.dropdown-toggle(href="bootstrap-elements.html", data-target="#", data-toggle="dropdown") Dropdown
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="javascript:void(0)") Action
                  li
                    a(href="javascript:void(0)") Another action
                  li
                    a(href="javascript:void(0)") Something else here
                  li.divider
                  li
                    a(href="javascript:void(0)") Separated link
      block content